@media screen and (max-width: 1024px) {
    .container{
        width: 100%;
    }
    .inner-banner {
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 60px;
        padding: 50px 0;
    }
    .left-b-text h5 {
        font-size: 36px;
        text-align: center;
    }
    .left-b-text h2 {
        font-size: 77px;
    }
    .left-banner{
        order: 2;
    }
    .right-banner{
        order: 1;
    }
    .inner-gamer {
        grid-template-columns: repeat(1,1fr);
    }
    .right-gamer {
        text-align: left;
        align-items: start;
        padding: 0 100px;
    }
    .game-video-card {
        width: 45%;
        margin-bottom: 20px;
    }
    .inner-careers {
        grid-template-columns: repeat(1,1fr);
    }
    .left-careers {
        order: 2;
    }
    .right-careers {
        order: 1;
    }
}
@media screen and (max-width: 642px) {
    .inner-header{
        flex-direction: column;
        align-items: center;
    }
    .right-header {
        flex-direction: column;
    }
    .right-gamer {
        padding: 0 10px;
    }
    #games-videos {
        margin-top: 86px;
        margin-bottom: 0;
    }
    .game-video-card {
        width: 100%;
        margin-bottom: 20px;
    }
    .inner-play-instantly{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .left-play-instantly {
        order: 2;
        text-align: center;
    }
    .right-play-instantly{
        order: 1;
    }
    .inner-play-games{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .left-play-games {
        text-align: center;
    }
}
@media screen and (max-width: 425px) {
    .left-play-instantly h2, .right-play-games h2 {
        font-size: 41px;
    }
    .footer-manu {
        padding: 0 75px;
    }
    .footer-icon{
        padding: 0 125px;
    }
    .footer-policy{
        padding: 0 75px;
    }
    .inner-footer p{
        padding: 0 75px; 
    }
    .game-video-bottom{
        gap: 5px;
    }
}