@media screen and (max-width: 1024px) {
    .container{
        width: 100%;
    }
    .inner-banner {
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 20px;
    }
    .left-banner{
        order: 2;
    }
    .right-banner{
        order: 1;
    }
    .inner-gamer {
        grid-template-columns: repeat(1,1fr);
    }
    .right-gamer {
        text-align: left;
        align-items: start;
        padding: 0 100px;
    }
    .game-video-card {
        width: 45%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 642px) {
    .inner-header{
        flex-direction: column;
        align-items: center;
    }
    .right-header {
        flex-direction: column;
    }
    .right-gamer {
        padding: 0 10px;
    }
    .game-video-card {
        width: 100%;
        margin-bottom: 20px;
    }
}