*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
button{
    border: 0;
}
.container{
    max-width: 1450px;
    margin: 0 auto;
}
/* header-start */
 #header{
    overflow: hidden;
    padding: 0 10px;
 }
 .inner-header{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
 }
 .right-header{
    display: flex;
    gap: 20px;
    align-items: center;
 }
 .right-header a{
    text-decoration: none;
    font-size: 18px;
    color: #3C354F;
 }
 .right-header a:last-child{
    background-color: rgba(11, 2, 35, 0.10);
    padding: 10px;
    border-radius: 8px;
 }
 .right-header-img{
    display: flex;
    gap: 10px;
 }
/* header-end */
/* banner-start */
#banner{
    overflow: hidden;
    padding: 0 10px;
}
.inner-banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.left-banner{
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: right;
}
.left-b-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.left-b-text h5{
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    text-transform: uppercase;
}
.left-b-text h2{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left-b-text p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}
.left-b-flex{
    display: flex;
    gap: 7px;
}
.banner-button{
    margin-top: 10px;
}
.banner-b{
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-right: 15px;
    color: white;
}
.banner-b2{
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    color: white;
}
.right-banner img{
    width: 100%;
}
/* banner-end */
/* gamer-start */
#gamer{
    overflow: hidden;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 0 10px;
}
.inner-gamer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.right-gamer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: right;
    justify-content: center;
    align-items: end;
}

.right-gamer h2{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.right-gamer p{
    color: #534C64;
    font-size: 18px;
}
.right-gamer span{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
}
.right-gamer h3{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
}
.gamer-b{
    width: 190px;
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: white;
}
.left-gamer img{
    width: 100%;
}
/* gamer-end */
/* gamer-video-start */
#games-videos{
    overflow: hidden;
    padding: 0 10px;
    margin: 100px 0;
}
.game-video-top-text{
    text-align: center;
}
.inner-games-videos{
    color: #534C64;
    font-size: 18px;
}
.game-video-top-text h1{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.game-video-top-text span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game-video-bottom{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;

}
.game-video-card{
    width: 20%;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-video-card img{
    width: 100%;
    height: 100%;
}
.game-video-card img:hover{
    filter: #000;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .0s ease-in-out;
}
.game-video-img:hover{
    height: 100%;
    border: 3px solid #FF59B0;
    border-radius: 16px;
}
.game-video-hover-text{
    position: absolute;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    display: none;
}
.game-video-1:hover .game-video-hover-text{
    display: flex;
}
.game-video-2:hover .game-video-hover-text{
    display: flex;
}
.game-video-3:hover .game-video-hover-text{
    display: flex;
}
.game-video-4:hover .game-video-hover-text{
    display: flex;
}
.game-video-hover-text p{
    font-size: 20px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* gamer-video-end */
/* play-instantly-start */
#play-instantly{
    overflow: hidden;
    padding: 0 10px;
}
.inner-play-instantly{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.left-play-instantly {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
.left-play-instantly h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.left-play-instantly h2 span{
    color: #DD4CC2;
}
.right-play-instantly{
    grid-column: span 2;
}
/* play-instantly-end */
/* play-games-start */
#play-games{
    overflow: hidden;
    padding: 50px 10px;
}
.inner-play-games{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.right-play-games{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-play-games h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.right-play-games h2 span{
    color: #DD4CC2;
}
.left-play-games{
    grid-column: span 2;
}
/* play-games-end */
/* careers-start */
#careers{
    overflow: hidden;
    padding: 0 10px;
    background-color: #FF55AE;
}
.inner-careers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: #fff;
}
.left-careers {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.left-careers h1{
    font-size: 48px;
    font-weight: 700;
}
.left-careers p{
    font-size: 18px;
    font-weight: 400;
}
.careers-list{
    display: flex;
}
.careers-list a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.careers-l-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.careers-r-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
}
.careers-btn{
    width: 280px;
    padding: 21px 40px;
    border-radius: 48px;
    background: #fff;
    color: #FF55AE;
    font-size: 20px;
    font-weight: 600;   
}
/* careers-end */
/* game-selector-start */
#game-selector{
    overflow: hidden;
    margin: 100px 10px;
}
.inner-game-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.game-selector-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 28px;
    padding-right: 7px;
    border: 1px solid #F0F0F0;
}
.game-selector-btn:hover{
    color: #FF59B0;
    border: 1px solid #FF59B0;
}
.game-selector-btn img{
    width: 60px;
}
/* game-selector-end */